Repository SOCI/soci, pull requests merged in 2019-05, with the labels that each got.

#728 Deduce reference in boost::fusion::for_each
  include/soci/bind-values.h
Labels: Boost, Category/Enhancement

#729 Find PostgreSQL debug library
  cmake/modules/FindPostgreSQL.cmake
Labels: CMake, Category/Enhancement, PostgreSQL

#730 Add finished call in pg failover callback
  src/backends/postgresql/error.cpp
Labels: PostgreSQL

#731 Add pg reconnection loop
  src/backends/postgresql/error.cpp
Labels: PostgreSQL

#733 Refine try-catch scopes in failover for PostgreSQL
  src/backends/postgresql/error.cpp
Labels: PostgreSQL
